
/* SHAPES */


.square{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: black;
    display: inline-block;
}
.rectangle{
    height: 50px;
    width: 100px;
    margin: 20px;
    background-color: black;
    display: inline-block;
}
.circle{
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
}


/* Colors */

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}