h1 {
    text-align: center;
    font-size: 3em;
    color: white;

}
.white{
    color:white;
}
h2 {
    text-align: center;
    font-size: 2em;

}

p {
    font-size: 1.5em;
}
li {
    font-size: 1.5em;
}
body {
    background-image: url(https://cdn.hipwallpaper.com/i/20/93/icQLoP.jpg);
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;
}


