
p, li {
    color: hsl(240, 50%, 50%);
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: 300;
    text-align: left;
    background-color: white;

}

/* section for hsl colors

*/


.hsl120 {
    color : hsl(120, 50%, 50%);
}
.hsl180 {
    color: hsl(180, 50%, 50%);
}
.hsl240 {
    color: hsl(240, 50%, 50%);
}




/* section for fonts
*/

.fontSize28 {
    font-size: 28
}

.italics {
    font-style: italic;
}

.aligncenter {
    text-align: center;
}
.alignright {
    text-align: right;
}

.weight500 {
    font-weight: 500;
}

.box {
    padding: 20px;
    border: 2px solid yellow;
    margin: 50px;
    width: 200px;
    text-align: center;
    position: relative;
    display: inline;
    


}

.box2 {
    padding: 40px;
    border: 8px dotted red;
    margin: 50px;
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    position: relative;
    top: 75px;
    display: inline;
}

.box.box3{
    float: right;
    top: 200px;
}

.box2.box4 {
    float: left;
    top: 100px;
}