p{
    height: .35em;
}
.timeUI {
    display: inline-block;
    margin: 15px;
}
.moneyUI {
    display: inline-block;
    margin: 15px;
}
#gameClock{
    margin-left: 20em;
}
.animalFood {
    display: Flex;
}
.animalObject {
    display:box;
    width: 5em;
}

.animalPic{
    height: 3em;
    width: 3em;
    display: block;
    margin: 0px;
}
.animalObjectName {
    height: .35em;
    width:  .35em;
}
.animalFoodMeter {
    height: .35em;
}
.animalFeedButton{
    width: 80%;
    height: 1.5em;
}

#animalHouses {
    display: flex;
}

.ratio {
    width: 14em;
}

#radio{
    display: flex;
}
#formSpace{
    display:inline-block;
    width: 2em;
}